<!-- Spotlight -->
        <section class="spotlight style1 content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
                <h2>{{ .Title }}{{ if .Params.button_url }}<br><a class="external" target="_blank" href="{{ .Params.button_url }}">external source<i class="fa fa-external-link-square icon" aria-hidden="true"></i></a>{{ end }}</h2>
                <div class="tags">
                  <ul id="categories">
                    {{ range .Params.topics }}
                      <li><h4 class="topics"><a href="{{ "/topics/" | relLangURL }}{{ lower . | urlize }}">{{ . }}</a></h4> </li>
                    {{ end }}
                    {{ range .Params.areas }}
                      <li><h4 class="areas"><a href="{{ "/areas/" | relLangURL }}{{ lower . | urlize }}">{{ . }}</a></h4> </li>
                    {{ end }}
                  </ul>
                </div>
                {{ with .Description }}<p>{{ . | safeHTML }}</p>{{ end }}
                <ul class="actions stacked">
                  {{ if .Params.button_url }}
                    <li><a href="{{ .Params.button_url }}" target="_blank" rel="noopener noreferrer" class="button">{{ .Params.button_label }}</a></li>
                  {{ else }}
                    <li><a href="{{ .Permalink }}" class="button">{{ .Params.button_label }}</a></li>
                  {{ end }}
                </ul>
            </div>
            {{ with .Params.image }}
              <div class="image">
                  <img src="{{ . }}" alt="" />
              </div>
            {{ end }}
        </section>
