<link rel="apple-touch-icon" sizes="180x180" href='{{ absURL "/icons/apple-touch-icon.png" }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ absURL "/icons/favicon-32x32.png" }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ absURL "/icons/favicon-16x16.png" }}'>
<link rel="manifest" href="{{ "/icons/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "/icons/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<link rel="shortcut icon" href='{{ absURL "/icons/favicon.ico" }}'>
<meta name="msapplication-config" content='{{ absURL "/icons/browserconfig.xml" }}'>
<meta name="msapplication-TileColor" content="#7ecfe4">
<meta name="theme-color" content="#ffffff">
