<!-- Gallery -->
{{ with .Site.GetPage "/banner/WhoWeAre.md" }}
<section class="wrapper style1 align-center">
    {{ $logo := `<span class="waiq-word"><img src="./images/waiq-text.png" alt="WAIQ" class="waiq-logo" style="height: 0.8em;"></span>` }}
    {{ $summary := replace .Params.summary "#WAIQ" $logo }}
    <div class="inner">
        <h2>{{ .Title }}</h2>
        <p>{{ $summary | safeHTML }}</p>
    </div>

    <!-- Gallery-->
    <div class="gallery {{ .Params.style }}" id="gallery">

      {{ $pictures := where (where .Site.AllPages "Lang" "en") "Section" "picture" }}

      
      {{ range $pictures }}
        {{- $tags := lower (default "" .Params.tags) -}}
        {{- if in $tags (lower "core") -}}
          {{ .Render "summary" }}
        {{- end -}}
      {{ end }}

    </div>


  <script>
document.addEventListener('DOMContentLoaded', function () {
  const container = document.getElementById('gallery');
  if (!container) return;
console.log('container: '+container);
  //const items = Array.from(container.children); 
  const items = Array.from(document.querySelectorAll('#gallery .inner article'));
  console.log('items length:', items.length, items);

  // Fisher–Yates shuffle
  for (let i = items.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [items[i], items[j]] = [items[j], items[i]];
  }

  // Vaciar y volver a insertar en el nuevo orden
  items.forEach(item => container.appendChild(item));
});
</script>


</section>
{{ end }}
