<!-- Gallery -->
{{ with .Site.GetPage "/banner/WhoWeAre.md" }}
<section class="wrapper style1 align-center">
    {{ $logo := `<span class="waiq-word"><img src="./images/waiq-text.png" alt="WAIQ" class="waiq-logo" style="height: 0.8em;"></span>` }}
    {{ $summary := replace .Params.summary "#WAIQ" $logo }}
    <div class="inner">
        <h2>{{ .Title }}</h2>
        <p>{{ $summary | safeHTML }}</p>
    </div>

    <!-- Gallery-->
    <div class="gallery {{ .Params.style }}">

      {{ $pictures := where (where .Site.AllPages "Lang" "en") "Section" "picture" }}

      {{ range shuffle $pictures }}
        {{ .Render "summary" }}
      {{ end }}

    </div>




</section>
{{ end }}
