{{- $tags := split (.Params.tags | default "") "," -}}
<article
      class="mosaic-item"
      data-title="{{ .Title }}"
  data-tags="{{ delimit $tags ' ' }}"
      data-role="{{ .Content }}"
    >
  <img src="{{ .Params.image }}" alt="" />
  <div class="caption">
      <h3>{{ .Title }}</h3>
      <p>{{ .Content }}</p>
      <ul class="icons">
        {{ with .Params.twitter }}<li><a target="_blank" href="{{ . }}" class="icon brands style1 fa-twitter"><span class="label">Twitter</span></a></li>{{ end }}
        {{ with .Params.linkedin }}<li><a target="_blank" href="{{ . }}" class="icon brands style1 fa-linkedin"><span class="label">Linkedin</span></a></li>{{ end }}
        {{ with .Params.github }}<li><a target="_blank" href="{{ . }}" class="icon brands style1 fa-github"><span class="label">Github</span></a></li>{{ end }}
        {{ with .Params.web }}<li><a target="_blank" href="{{ . }}" class="icon style1"><i class="fa-solid fa-globe"></i><span class="label">Web personal</span></a></li>{{ end }}
      </ul>
  </div>
</article>
